@model SIGIT.Models.Aplicacione

@{
    Layout = null; // Necesario para vista parcial
}

<div class="modal-body">
    <h3 class="text-danger">¿Esta seguro que quiere eliminar este registro?</h3>
    <br />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NombreAplicacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NombreAplicacion)
        </dd>
    </dl>

    <!-- Token Anti-Falsificación para el POST -->
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="AplicacionId" />
</div>

<div class="modal-footer">

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.AplicacionId" method="post">
        @Html.AntiForgeryToken()

        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-house-x-fill"></i></button>
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
    </form>
</div>